.glass {
}

.navbarMobile {
  position: fixed;
  width: min-content;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  border-radius: 50px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.10);
  --padding: 0.125rem;
  display: flex;
  padding: var(--padding);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  anchor-name: --segmented-button-hover;
  background: rgba(227, 227, 227, 0.6);
  backdrop-filter: blur(6px);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbarMobile::before,
.navbarMobile::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  transition: inset 500ms cubic-bezier(0.32, 1.25, 0.375, 1);
  inset:
    calc(anchor(start) + var(--padding)) calc(anchor(end) + var(--padding)) calc(anchor(end) + var(--padding)) calc(anchor(start) + var(--padding));
}

.navbarMobile::before {
  background-color: light-dark(var(--color-bg-light-dark), var(--color-bg-dark));
  position-anchor: --segmented-button-hover;
}

.navbarMobile::after {
  background-color:  #ffffff;
  position-anchor: --segmented-button-checked;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.navbarDesktop {
  --nav-tab-width: 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  padding: 0.5rem 0;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: var(--color-white);
}

.navbarDesktop > div{
  width: 100%;
      max-width: 1700px;
      margin: 0 1rem;
}
