.navbarAntwerpLogo {
  width: 28rem;
  height: 4rem;
  background-image: url('../assets/images/antwerpLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.navbarDesktopAnimation {
  gap: 3rem;
  position: relative;
  width: 100%;
}

.navbarDesktopAnimation::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 3px;
  transition: inset 500ms cubic-bezier(0.32, 1.25, 0.375, 1);
  position-anchor: --subnav-checked;
  bottom: 0;
  left: anchor(start);
  right: anchor(end);
}

.navbarDesktopItem {
  padding: 0.75rem 0.5rem;
  text-decoration: none;
  color: var(--color-black);
  font-weight: 700;
  font-size: 1rem;
  transition: color 0.25s ease;
  anchor-name: var(--anchor-name-hover, --a), var(--anchor-name-active, --b);
}

.navbarDesktopItem:hover {
  --anchor-name-hover: --subnav-hover;
  cursor: pointer;
}

.navbarDesktopItem.active {
  --anchor-name-active: --subnav-checked;
  font-weight: bold;
  color: var(--color-primary);
}

.tab {
  background-color: transparent;
  border: none;
  width: 0.5rem; /* Desktop specific tab override */
  border-radius: inherit;
  padding: 0.55rem 1.3rem;
  margin: 0 -0.5rem;
  font-size: inherit;
  cursor: default;
  z-index: 1;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  anchor-name: var(--active-anchor, --fallback);
}

.tab:hover {
  cursor: pointer;
}

.tab.active {
  --active-anchor: --segmented-button-checked;
}

.iconContainer {
  margin-top: 4px;
  position: relative;
  width: 33px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fadeIcon {
  position: absolute;
  top: 0;
  transition: opacity 0.25s ease-in-out;
}

.iconHidden {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.iconVisible {
  fill: var(--color-dark-gray);
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.iconVisible.active svg {
  fill: var(--color-primary);
}
