html,
body {
  overflow-x: hidden;
  width: 100%;
}

main {
  max-width: 1700px;
  margin: 5rem 1rem 7rem;
}

@media (min-width: 801px) {
  main {
    margin: 6.5rem auto;
    padding: 0 1rem;
  }
}

/* Custom Scrollbars */
* {
  scrollbar-color: var(--color-primary) #ECECE7;
  scrollbar-width: auto;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ECECE7;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border: 3px solid #ECECE7;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-lime);
}
