@font-face {
  font-family: 'Leaguespartan';
  src: url("../assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf"),
    url("../assets/fonts/League_Spartan/static");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Antwerpen';
  src: url("../assets/fonts/Antwerpen Regular.otf"), sans-serif;
}

html,
body {
  font-family: var(--font-spartan);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-antwerpen);
  font-weight: 500;
}

h1 {
  font-size: 2.7rem;
  letter-spacing: -2.3px;
  margin-right: auto;
  text-box: trim-both cap alphabetic;
  white-space: nowrap;
  line-height: 1.2;
}

h1 span{
  color: var(--color-primary);
  text-transform: uppercase;
  margin-left: 0.5rem;
}

@media (min-width: 801px) {
  h1 {
    margin-bottom: 2rem;
  }
}


h2 {
  font-size: 2rem;
  letter-spacing: -2px;
  margin-right: auto;
  font-weight: 100;
  text-box: trim-both cap alphabetic;
  line-height: 1.2;
  margin-top: 2rem;
}

h2 span{
  color: var(--color-primary);
  text-transform: uppercase;
  margin-left: 0.5rem;
}