.distanceTag {
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.10);
  padding: 1rem 1.5rem;
  width: min-content;
  border-radius: 50px;
  gap: 0.5rem;
  margin: 2rem auto;
}

.distanceTag p {
  text-box: trim-both cap alphabetic;
  font-weight: 600;
  white-space: nowrap;
}

.distanceTag svg {
  fill: var(--color-primary);
  height: 20px;
}
