/* tools */
@media (max-width: 800px) {
  .noMobile {
    display: none!important;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .noTablet {
    display: none!important;
  }
}

@media (min-width: 1025px) {
  .noDesktop {
    display: none!important;
  }
} 

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.alignNext{
  align-items: center;
  display: flex;
}

.alignNextTop{
  align-items: start;
  display: flex;
}

.alignUnder{
  display: flex;
  flex-direction: column;
}

/* styling */
.navbarDesktop {
  background-color: transparent;
  border: none;
  width: 100%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.10);
  border-radius: inherit;
  padding: 0.65rem 1.3rem;
  font-size: inherit;
  cursor: default;
  z-index: 1;
  text-decoration: none; /* Removes standard link underlining */
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.navbarAntwerpLogo {
  width: 40px;
  height: 40px;

  /* Point directly to the image file relative to this CSS file */
  background-image: url('./assets/images/antwerpLogo.png');
  
  /* Ensure the image scales correctly without stretching or repeating */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* Container to stack the icons on top of each other */
.icon-container {
  margin-top: 4px;
  position: relative;
  width: 33px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Base class for the icons to enable smooth fading */
.fade-icon {
  position: absolute;
  top: 0;
  transition: opacity 0.25s ease-in-out;
}

/* Specific state classes */
.icon-hidden {
  opacity: 0;
  transform: scale(0.8); 
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.icon-visible {
  fill: #171717;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.icon-visible.active svg {
  fill: #FF7D3C;
}
.tab p {
  color: #000000;
  font-weight: lighter;
  font-size: 0.7rem;
  transition: color 0.25s ease;
  margin-top: 1px;
}

.tab p.active {
  font-weight: bold;
  color: #FF7D3C;
}

.navbarMobile {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  width: min-content;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: rgba(226, 226, 226, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.10);
  --padding: 0.25rem;
  display: flex;
  padding: var(--padding);
  anchor-name: --segmented-button-hover;
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    transition: inset 500ms cubic-bezier(0.32, 1.25, 0.375, 1);
    inset:
      calc(anchor(start) + var(--padding))
      calc(anchor(end) + var(--padding))
      calc(anchor(end) + var(--padding))
      calc(anchor(start) + var(--padding));
  }
  
  &::before {
    background-color: light-dark(#E8E9E9, #1A1C20);
    position-anchor: --segmented-button-hover;
  }
  
  &::after {
    background-color: light-dark(white, #333537);
    position-anchor: --segmented-button-checked;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
}

.tab {
  background-color: transparent;
  border: none;
  width:3rem;
  border-radius: inherit;
  padding: 0.65rem 1.3rem;
  font-size: inherit;
  cursor: default;
  z-index: 1;
  text-decoration: none; /* Removes standard link underlining */
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  
  /* The anchor routing trick */
  anchor-name: var(--anchor-name-1, --a), var(--anchor-name-2, --b);
  
  &:hover {
    cursor: pointer;
  }
  
  /* React Router applies .active when you are on this page */
  &.active {
    --anchor-name-2: --segmented-button-checked;
  }
}

