/* tools */
@media (max-width: 800px) {
  .noMobile {
    display: none;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .noTablet {
    display: none;
  }
}

@media (min-width: 1025px) {
  .noDesktop {
    display: none;
  }
} 

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.alignNext{
  align-items: center;
  display: flex;
}

.alignNextTop{
  align-items: start;
  display: flex;
}

.alignUnder{
  display: flex;
  flex-direction: column;
}

/* styling */
.navbarMobile {
  position: fixed;
  width: min-content;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: rgb(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  box-shadow: 0 0 20px rgb(24, 18, 75, 0.75);
  --padding: 0.25rem;
  display: flex;
  padding: var(--padding);
  anchor-name: --segmented-button-hover;
  
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    transition: inset 250ms cubic-bezier(0.4, 0, 0.2, 1);
    inset:
      calc(anchor(start) + var(--padding))
      calc(anchor(end) + var(--padding))
      calc(anchor(end) + var(--padding))
      calc(anchor(start) + var(--padding));
  }
  
  &::before {
    background-color: light-dark(#E8E9E9, #1A1C20);
    position-anchor: --segmented-button-hover;
  }
  
  &::after {
    background-color: light-dark(white, #333537);
    position-anchor: --segmented-button-checked;
    box-shadow:
      0 0 0 1px light-dark(#C7C8C8, #484A4C),
      0 1px 3px 0 rgb(0 0 0 / 0.1),
      0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
}

.tab {
  background-color: transparent;
  border: none;
  width: 3rem;
  border-radius: inherit;
  padding: 0.65rem 1.3rem;
  font-size: inherit;
  cursor: default;
  z-index: 1;
  text-decoration: none; /* Removes standard link underlining */
  color: inherit;
  
  /* The anchor routing trick */
  anchor-name: var(--anchor-name-1, --a), var(--anchor-name-2, --b);
  
  /* Tracks the mouse for the hover background */
  &:hover {
    cursor: pointer;
  }
  
  /* React Router applies .active when you are on this page */
  &.active {
    --anchor-name-2: --segmented-button-checked;
  }
  
  &:focus-visible {
    outline: 2px solid #007acc;
  }
}

